@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-muted: #888888;
  --color-glassBorder: rgba(255, 255, 255, 0.05);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}